/* DopeWars Clone CSS Style file */

/*
==========================================
Behrmart CSS Bootstrap based
==========================================
*/

@import "bootstrap";

/*
-------------------- 
HTML doc & Body 
--------------------
*/

html, body {
	height: 100%;
	width: 100%;
	}


.mainwindow {
    background-color: darkslategray;
    border-radius: 100px 10px 100px 10px;
}

.today{
    background-color: chocolate;
    border-radius: 100px 10px 100px 10px;
}

.status {
    background-color: brown;
    border-radius: 100px 10px 100px 10px;
}